GLD*
settings.json
/gld_06_obs
/gld_12_obs
/nbm_data
/monthly_stats
debug.log
2025_AK.txt
NBM_Template.tif
test_file.py
cb*
/plots
/brier_gld_climo
/aicc_climo
/aicc_lightning
/aicc_monthly_stats
/union_*
/aicc_total_climatology